[Desktop Entry]
Type=Application
Name=Datalith
Comment=A fast, local-first knowledge workspace.
Exec=datalith %U
Icon=datalith
StartupWMClass=datalith
Terminal=false
Categories=Office;
MimeType=x-scheme-handler/datalith;
